<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reverse string</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <div class="row">
        <h1>Reverse your string!</h1>
        <hr>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div style="display: flex; flex-direction: row; justify-content: space-between">
                        <div>Type your string</div>
                        <div id="status"></div>
                    </div>
                </div>
                <div class="panel-body">
                    <div style="display: flex; flex-direction: row">
                        <input class="form-control" id="string-input" type="text" style="margin-right: 10px;">
                        <button class="btn btn-success" id="send-button">Send</button>
                    </div>
                </div>
                <div class="panel-footer">
                    <h3>Summary</h3>
                    <table class="table table-striped">
                        <tbody id="summary-table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.1.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.js}"></script>
<script th:src="@{/webjars/sockjs-client/1.0.2/sockjs.js}"></script>
<script th:src="@{/webjars/stomp-websocket/2.3.3/stomp.js}"></script>

<script>
    var stompClient = null;
    var connectedStatus = false;

    function connect() {
        var socket = new SockJS('http://localhost:8080/reverse');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            changeStatus(true);
            stompClient.subscribe('/topic/tr', function (hello) {
                formTable(JSON.parse(hello.body));
            });
        }, function (error, client) {
            if (error) {
                changeStatus(false);
            }
        });
    }

    function changeStatus(connected) {
        connectedStatus = connected;
        if(connected === true)
            $('#status').html('Connected!');
        else
            $('#status').html('Disconnected :(')
    }

    function formTable(data) {
        $('#summary-table').empty();
        for(element in data.strings) {
            $('#summary-table').append('<tr><td>' + data.strings[element].reversedWord) + '</td></tr>';
        }
    }

    $('#send-button').on('click', function () {
        stompClient.send("/app/reverse-string", {}, JSON.stringify({
            string: $('#string-input').val()
        }));
    });

    $(document).ready(function () {
        connect();
    });
</script>

</body>
</html>